main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  > * {
    max-width: 600px;
    margin: 0 auto;
  }

  @media screen and (max-width: 560px) {
    padding: 0;
  }
}
