.field-builder {
  position: relative;
  width: 100%;

  &__overlay {
    align-items: center;
    background: color-mix(in srgb, var(--background-color, #FFF) 80%, transparent);
    bottom: 0;
    display: flex;
    gap: var(--theme-spacing-x);
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  > .card {
    > .card-body {
      > form > fieldset {
        align-items: center;
        column-gap: var(--theme-card-spacing-x);
        display: grid;
        grid-template-columns: max-content 1fr;
        row-gap: calc(2 * var(--theme-card-spacing-y));
        width: max-content;

        > label {
          font-weight: 500;
          white-space: nowrap;

          &:has(+ .form__field--vertical) {
            align-self: start;
          }
        }

        > .form__field {
          display: flex;
          gap: var(--theme-card-spacing-x);

          &--vertical {
            flex-direction: column;
            row-gap: calc(0.5 * var(--theme-card-spacing-y));
          }

          > .form__field-actions {
            align-items: center;
            display: flex;
            gap: calc(0.25 * var(--theme-card-spacing-x));

            > * {
              display: inline-block;
              flex: 1;

              > button {
                width: 100%;
              }
            }
          }
        }

        > .form__actions {
          align-items: center;
          display: flex;
          gap: 0.75rem;
          grid-column: 2;
          margin-bottom: calc(4 * var(--theme-card-spacing-y));
          margin-top: calc(2 * var(--theme-card-spacing-y));
        }
      }
    }
  }
}
